$font-size-root: 12px;

.main-viewer{
    padding-top: 50px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1056px) {
    .main-viewer{
        width: calc(100% - 2rem)
    }
}